/* 전체 오버레이 */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 모달 박스 */
  .modal {
    background-color: #222;
    color: #fff;
    width: 680px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
  }
  
  /* 닫기 버튼 */
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  /* 플레이리스트 목록 */
  .playlistList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4열 */
    gap: 15px; /* 카드들 사이 간격 */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* 플레이리스트 아이템 */
  .playlistItem {
    background-color: #333;
    padding: 10px;
    height: 25px;
    width: 130px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .playlistItem:hover {
    background-color: #444;
  }
  
  /* 선택된 플레이리스트 강조 */
  .selected {
    background-color: #ff4081;
  }
  
  /* 추가 버튼 */
  .addButton {
    width: 100%;
    background-color: #ff4081;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  .addButton:hover {
    background-color: #ff70a1;
  }
  