.floatingButton {
    position: fixed;               
    width: 60px;                    
    height: 60px;                  
    border-radius: 50%;          
    background-color: #ff4081;     
    color: #fff;                    
    font-weight: bold;
    /* font-size: 1rem; */
    display: flex;               
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;             /* 드래그 시 텍스트 선택 방지 */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);  
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 9999;                
  }
  

  .floatingButton:hover {
    background-color: #ff5c9e;
    transform: scale(1.1);
  }
  