.footer {
    position: fixed;
    bottom: 0;
    width: 98%;
    /* background-color: #181818;  */
    /* padding: 15px 20px; */
    display: b;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); */
    z-index: 1000; 
  }
  
