
/* 전체 컨테이너 */
.container {
    display: flex;
    transition: all 0.3s ease;
    position: relative;
    width: 100%;
    overflow: hidden; /* 혹시 생길 수 있는 가로 스크롤 방지 */
    min-height: 80vh;
    color: white;
    
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    
    padding: 2vh; /* 화면 크기에 따라 적응 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* 기본 상태: 완전히 왼쪽 바깥에 숨김 */

    display: flex;
    flex-direction: column;
    min-height: 75vh; /* 전체 화면 높이 맞춤 */
}

.sidebar.open {
    transform: translateX(0);  /* 사이드바 열리면 제자리로 슬라이드 */
}

/* 메인 영역 */

.main {
    flex: 1;
    padding: 20px;
    transition: width 0.3s ease, margin-left 0.3s ease;
    width: calc(100% - 170px); /* 사이드바 크기만큼 빼줌 */
    margin-left: 0;
    overflow-x: hidden; /* 가로 스크롤 방지 */
    
}



/* 사이드바가 열렸을 때 메인 영역에 적용할 클래스 */
.move {
    width: calc(100% - 170px); /* 전체 너비에서 사이드바 너비 만큼 빼기 */
    margin-left: 200px;        /* 메인 영역을 오른쪽으로 밀어내기 */
}

/* 링크 스타일 */
.link {
    text-decoration: none; 
    color: white;             
    font-size: 16px;
    font-weight: 500;
    display: block; /* 세로 배치할 때 필수 */
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.link:hover {
    background-color: #e0e0e0;
    color: #000;
}

.sidebarEnd {
    margin-top: auto;
}

.linkEnd {
    text-decoration: none; 
    color: white;              
    font-size: 16px;
    font-weight: 500;
    display: block;  
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.linkEnd:hover {
    background-color: #e0e0e0;
    color: #000;
}

