.container {
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.deleteButton {
    background-color: #262626;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    line-height: 28px;
    padding: 0 10px;
    vertical-align: top;
}

.musicItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.musicItemHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #999;
    border-bottom: 1px solid #999;
    padding: 0 10px;
    color: gray;
}

.info {
    display: flex;
    flex: 1;
    margin-left: 10px;
}

.musicInfo {
    display: flex;
    flex: 8;
}

.musicImage {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 1px solid salmon;
}

.musicTitle {
    flex: 3;
}

.musicArtist {
    flex: 6;
    color: gray;
}

.musicPrice {
    flex: 2;
}

.musicDelete {
    flex: 1;
}

.trashButton {
    flex: 1;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: gray;
}

.payment {
    text-align: right;
}

.totalPrice {
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid #999;
    box-sizing: border-box;
}

.totalAmount {
    color: red;
}

.paymentButton {
    background: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.paymentButton:disabled {
    background: gray;
    cursor: not-allowed;
}
  