
.top100Section {
    background-color: black;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    
  }
  

  .top100Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .top100Title {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Ownglyph_ParkDaHyun', sans-serif;
  }

  .moreButtonTop100 {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .moreButtonTop100:hover {
    background-color: white;
    color: black;
  }
  

  .top100Grid {
    display: grid;

    grid-auto-flow: column;

    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  

  .top100Card {
    background-color: black;
    border-radius: 8px;
    border-bottom: 1px solid #444;
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: left;
  }

  .rowLayout {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .top100Image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 4px;
  }
  
 
  .top100Rank {
    font-weight: bold;
    font-size: 0.9rem;
    color: #fff;
    margin: 0 20px 0 20px;
    width: 0px;
  }

  .titleArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .top100SongTitle {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

  .top100Artist {
    font-size: 0.8rem;
    color: #ccc;
    margin: 0;
  }
  

  @media (max-width: 768px) {
    .top100Grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(15, auto);
      grid-auto-flow: row;
    }
  }
  