.modalOverlay {
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 600px;
    height: 570px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #333;
}



.content{
    position: relative;
  
    display: flex;
    left: 30px;

}

/* ✅ 이미지 업로드 스타일 */
.imageUploadContainer {
 
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    min-width: 150px;
    height: 150px;
    bottom: 15px;
}


.artistImage {
    
    width: 145px;
    height: 145px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    cursor: pointer;
}

.inputdiv{
    position: relative;
    left: -40px;
    
}



input {
    
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    max-width: 300px;
}


textarea{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    height:200px;
    max-width: 485px;
    left: 0;
   
}

.modalActions {
    width: 100%;
 
    position: relative;
    display: flex;
    margin-top: 15px;
    left: -68px;
}



button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button[type="submit"] {
    background: #4CAF50;
    color: white;
}

button.cancel {
    background: #d9534f;
    color: white;
}
