@use "sass:color";

$light-blue: #64b5f6;   
$medium-blue: #1976d2;  
$deep-blue: #0a192f;    
$neon-green: #64ffda;   
$button-back: #eeebeb;  
$font-color: #4e5968;



.dashBoard {
    min-width: 80vh;
   
    display: flex;
    height: 800px;
    margin-top: 100px;
    margin-left: 150px;
    

    .chartContainer {
        
        margin-top: 40px;
        color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        width: 100%; // ✅ 차트 너비를 90%로 확장
        max-width: 800px; // ✅ 최대 너비 제한 (너무 커지지 않도록)
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
        }
        
}
