@use "sass:color";

// 색상 변수 설정
$light-blue: #64b5f6;   // 옅은 하늘색
$medium-blue: #1976d2;  // 중간 블루
$deep-blue: #0a192f;    // 깊은 바다색
$neon-green: #64ffda;   // 네온 포인트 색상



.navigationBar {
    border-bottom: #1976d2 solid 1px;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;  // ✅ 상단에 고정
    top: 0;
    left: 200px; // ✅ 사이드바 공간 확보
    width: calc(98% - 310px); // ✅ 사이드바 제외한 전체 너비
    height: 60px;
    z-index: 1000;

    button {
        background-color: $neon-green;
    color: black;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px $neon-green;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: color.scale($neon-green, $lightness: 10%);
        box-shadow: 0 0 15px color.scale($neon-green, $lightness: 10%);
    }
   
    }
    
}
