name: Deploy to EC2
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH로 EC2접속 -배포
        uses: appleboy/ssh-action@master
        env:
          APPLICATION_PROPERTIES: ${{secrets.APPLICATION_YML}}
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{secrets.EC2_USERNAME}}
          key: ${{secrets.EC2_PRIVATE_KEY}}
          envs: APPLICATION_PROPERTIES
          script_stop: true
          script: |
            cd /home/ubuntu/Dive_server
            rm -rf src/main/resources/application.yml
            git pull origin main
            echo "$APPLICATION_PROPERTIES" > src/main/resources/application.yml
            sudo ./gradlew clean build
            sudo fuser -k -n tcp 8070 || true
            nohup java -jar build/libs/*SNAPSHOT.jar > ./output.log 2>&1 &
#            cd TeamDive_Client/
#            sudo npm run build
#            cd ../TeamDive_Admin/
#            sudo npm run build
#            sudo systemctl restart nginx



